<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMSCE</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="css/slick.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>
<div id="header-holder" class="light-header">
    <div class="cloud-bg"></div>
    <div class="custom-bg"></div>
    <nav id="nav" class="navbar navbar-full">
        <div class="container-fluid">
            <div class="container container-nav">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="BMSCE"></a>
                        </div>
                        <div style="height: 1px;" role="main" aria-expanded="false" class="navbar-collapse collapse navbar-collapse-centered" id="bs">
                            <ul class="nav navbar-nav navbar-nav-centered">
                                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                                <li class="nav-item">
                                    <a class="nav-link" href="http://localhost/BMSCE%20Exam%20Registration%20Portal/registrationform">Registration</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="http://localhost/BMSCE%20Exam%20Registration%20Portal/studentlogin">Take Exam</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="http://localhost/BMSCE%20Exam%20Registration%20Portal/studentlogin">Result</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="http://localhost/BMSCE%20Exam%20Registration%20Portal/studentlogin">Student Login</a></li>
                                        <li><a class="dropdown-item" href="http://localhost/BMSCE%20Exam%20Registration%20Portal/facultylogin">Faculty Login</a></li>
                                        <li><a class="dropdown-item" href="http://localhost/BMSCE%20Exam%20Registration%20Portal/adminlogin">Admin Login</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right other-navbar">
                                <li class="nav-item">
                                    <a class="nav-link btn-client-area" href="http://localhost/BMSCE%20Exam%20Registration%20Portal/postquerypublic"><img src="images/lock.svg" alt="">Post Query</a>
                                    <div class="chat-info"><i class="hstb hstb-right-arrow"></i>Chat Available</div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn-chat" href="#"><i class="hstb hstb-chat"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

<div class="features container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="">
                    <img style="padding-top:9rem ;" src="images/bmsce.jpg" class="img" alt="">
                </div>
            </div>
            <div class="col-sm-7 def-aligned">
                <div class="feature-info"><h2>BMSCE</h2>
                    <p>The <strong>“BMSCE” </strong>is the first private sector initiative in engineering education in India. Over the past 74 years of its illustrious existence, the institution has produced more than 40,000 engineers/leaders who have enriched the world through their immense contributions for mankind. Started with only 03 undergraduate courses, BMSCE today offers 13 Undergraduate & 16 Postgraduate courses both in conventional and emerging areas. 14 of its Departments are recognized as Research Centers offering PhD/M.Sc (Engineering by Research) degrees in Science, Engineering and Management. 
                         </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pricing container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row-title">Upcoming Exams</div>
            </div>
        </div>
        <div class="row custom-padding">
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box">
                    <div class="pricing-title">CIE-2</div>
                    <div class="pricing-icon">
                        <div class="icon"><img src="images/cie.png" alt=""></div>
                    </div>
                    <div class="pricing-details">
                        <ul>
                            <li>Theory Internals</li>
                            <li>You will have all the subjects in your current sem</li>
                            <li>Except lab internals</li>
                        </ul>
                    </div>
                    <div class="pricing-button">
                        <a href="">Get Started!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box">
                    <div class="pricing-title">CIE-3</div>
                    <div class="pricing-icon">
                        <div class="icon"><img src="images/cie.png" alt=""></div>
                    </div>
                    <div class="pricing-details">
                        <ul>
                            <li>Theory Internals</li>
                            <li>You will have all the subjects in your current sem</li>
                            <li>Except lab internals</li>
                        </ul>
                    </div>
                    <div class="pricing-button">
                        <a href="">Get Started!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box">
                    <div class="pricing-title">Makeup Internals</div>
                    <div class="pricing-icon">
                        <div class="icon"><img src="images/makeup.webp" alt=""></div>
                    </div>
                    <div class="pricing-details">
                        <ul>
                            <li>Last chance to raise the bar</li>
                            <li><strong>NOTE: </strong>For those who haven't appeared for
                                past 2 internals</li>
                            <li>Only for the missed subjects.</li>
                        </ul>
                    </div>
                    <div class="pricing-button">
                        <a href="">Know more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box">
                    <div class="pricing-title">Lab Exams</div>
                    <div class="pricing-icon">
                        <div class="icon"><img src="images/lab.webp" alt=""></div>
                    </div>
                    <div class="pricing-details">
                        <ul>
                            <li>Practicals and Executions</li>
                            <li>For the subjects that are prescribed by college</li>
                            <li>The subjects where we demonstrate practically.</li>
                        </ul>
                    </div>
                    <div class="pricing-button">
                        <a href="">Get Started!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box">
                    <div class="pricing-title">SEE</div>
                    <div class="pricing-icon">
                        <div class="icon"><img src="images\see.jpg" alt=""></div>
                    </div>
                    <div class="pricing-details">
                        <ul>
                            <li>Sem End Examinations</li>
                            <li>Final examintation that comprises the entire syllabus</li>
                            <li>All the end theory examinations for the sem</li>
                        </ul>
                    </div>
                    <div class="pricing-button">
                        <a href="">Schedule Plans!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="pricing-box">
                    <div class="pricing-title">Fast-Track</div>
                    <div class="pricing-icon">
                        <div class="icon"><img src="images/fastrack.webp" alt=""></div>
                    </div>
                    <div class="pricing-details">
                        <ul>
                            <li>Makeup Examinations</li>
                            <li>Make up the Backlogs of previous semesters</li>
                            <li>Backlogs of the subjects that you've gotten <strong>F grade</strong> </li>
                        </ul>
                    </div>
                    <div class="pricing-button">
                        <a href="">Beware"</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="footer container-fluid">
    <a class="btn-go-top" href="#"><i class="hstb hstb-down-arrow"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                <div class="footer-menu">
                    <h4>Institute</h4>
                    <ul>
                        <li><a href="home-light.html">About us</a></li>
                        <li><a href="">Press & Media</a></li>
                        <li><a href="">News & Blog</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                <div class="footer-menu">
                    <h4>Branches</h4>
                    <ul>
                        <li><a href="">Computer Science</a></li>
                        <li><a href="">Information Science</a></li>
                        <li><a href="">Artificial Intelligence</a></li>
                        <li><a href="">Electronics & Tele</a></li>
                        <li><a href="">Many more</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                <div class="footer-menu">
                    <h4>IMPORTANT</h4>
                    <ul>
                        <li><a href="">Recruiting Companies</a></li>
                        <li><a href="">Placement Statistics</a></li>
                        <li><a href="">Notifications</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <div class="footer-menu">
                    <h4>Support</h4>
                    <ul>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="#">What do we do?</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>  
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="footer-menu custom-footer-menu">
                    <h4>Contact us</h4>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                    <ul>
                        <li>Tel: +(91) 9876543210</li>
                        <li><a href="#">Service: @_rahul_tg_</a></li>
                        <li><a href="#">Seek an Admission</a></li>
                        <li><a href="#">Location</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="row">
                <div class="col-md-6">
                    <div class="sub-footer-menu">
                        <ul>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="">Privacy Policy</a></li>
                        </ul>        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="copyright">© Copyright 2022 BMSCE, All Rights Reserved</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>